body{
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  border: 1px black solid;
}


.square {
  flex-basis: calc(100% / 16);
  height: 0;
  padding-bottom: calc(100% / 16);
  box-sizing: border-box;

}

